<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1

## Learning objectives

This lab demonstrates examples of:

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

This is an example cell for text

In [1]:
# create a list of 10 students (use just first name)
students = ['alice','ben','cathy','dawn','emily','fern','emma','sean','felix','hugh']

# Print the list
print(students)

['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']

In [1]:
# print the list of students in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for students
    print(f'1:4')

SyntaxError: invalid syntax (1703590636.py, line 5)

In [ ]:
# print the list of students in reverse order one student in a line with its index
# google search how to print list in reverse order
???
for ???
    ???

In [ ]:
# print the student list in random order
# hint look up the function random.sample
??? random
??? = random.sample(???)
???

In [ ]:
# list students in decreasing order of their exam marks given their marks below
# hint: look up the 'sorted' function
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students,marks))
print(f"Students and their marks: \n {studentsAndMarks}")

Students and their marks:
 {'alice': 87, 'ben': 45, 'cathy': 76, 'dawn': 64, 'emily': 66, 'fern': 90, 'emma': 55, 'sean': 73, 'felix': 69, 'hugh': 75}

In [ ]:
#desired output:

['fern',
 'alice',
 'cathy',
 'hugh',
 'sean',
 'felix',
 'emily',
 'dawn',
 'emma',
 'ben']



---



---



> > > > > > > > > Â© 2023 Institute of Data


---



---